body{
    padding: 0;
    margin: 0;
    background: linear-gradient(45deg,#c57300, #f3a73d);
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 40px;
}

.container{
    display: grid;
    grid-template-columns: 40% auto;
}

.header{
    color: aliceblue;
    font-size: 120%;
}

.img{
    padding-top: 17%;
}

.container2{
    display: grid;
    grid-template-columns: 35% auto;
}

.signup-header{
    color: aliceblue;
    padding-bottom: 10%;
}

.form-item{
    color: aliceblue;
    padding-bottom: 5%;
}

.signup-right{
    padding-top: 10%;
}

.container3{
    padding-top: 20%;
}

.font-welcome{
    display: flex;
    color: aliceblue;
    justify-content: center;
}
